.AboutBack{
     height: 100vh;
    width:100vw; 
    background-color: beige;
    font-family: 'inter';
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}
.AboutBox{
    width: 500px;
    height: 250px;
    border-radius: 20px;
    background-color: black;
    border-color: grey;
}